/* Estilos generales */
body {
    background-color: rgb(167, 178, 209);
}

/* Contenedor de filas */
.row {
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    display: flex;
    gap: 10px;
}

/* Estilos generales para columnas */
.col {
flex:1;
background-color: rgba(0, 255, 255, 0.349);
border: 1px solid black;
padding: 20px;
border-radius: 10px;

}

/* Ajuste de tamaños específicos */
.col-2 {
    flex:2;

}

.col-3 {
    flex:3;
}