* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
    padding: 40px 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 20px;
    width: 100%;
}

.header h1 {
    font-size: 36px;
    font-weight: 500;

}

.contenedor_principal {
    width: 100%;
}

.barra_lateral {
    display: inline-block;
    width: 26%;
    height: 500px;
    background-color: blue;
    padding: 40px 0px;
    font-size: 16px;
    text-align: center;
}

.boton-amarillo {
    display: inline-block;
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 12px 0;
    width: 70%;
    border: none;
    margin-bottom: 20px;
    border: 25px;
    border-radius: 25px;
}

.contenido {
    display: inline-block;
    width: 69%;
    margin-left: 4%;
    font-size: 16px;
    vertical-align: top;
}

.caja-roja {
    background-color: red;
    width: 100%;
    padding: 20px;
}

.cuadrado-amarillo {
    display: inline-block;
    background-color: yellow;
    width: 31%;
    height: 200px;
    margin: 0 1%;
}

.caja-morada {
    background-color: purple;
    text-align: center;
    width: 100%;
    padding: 30px 0px;
    margin-left: 1%;
    margin-top: 20px;
    font-size: 16px;
}
.boton-saber-mas{
    display: inline-block;
    background-color: #e0e0e0;
    border: none;
    color: purple;
    padding: 12px 40px;
    font-weight: bold;
    border-radius: 25px;
}
.lineas{
margin-top: 20px;
padding-left: 15px;
}
.linea{
background-color: #b3ababad;
height: 8px;
margin-bottom: 16px;
width: 95%;
}
.corta{
width: 75%;
}