* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    color: white;
}

.header {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: rgb(82, 27, 27);
    padding: 15px;
    gap: 20px;/*separación de elementos con flex*/
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main {
    padding: 30px;
}

.section {
    background-color: rgb(82, 13, 13);
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 1px 1px 8px rgb(66, 0, 0);
}

.contenedor {
    display: flex;
    background-color: rgb(26, 0, 0);
    padding: 5px;
    height: 200px;
    border: 3px dashed rgb(10, 0, 0);
    margin-top: 20px;
}

.caja {
    width: 80px;
    height: 80px;
    background-color: rgb(216, 0, 0);
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    display: flex;
    justify-content: center; /*centra horizontalmente*/
    align-items: center; /*centra verticalmente*/
}

img {
    width: 80px;
    height: 80px;
}

.EJ1 {
    justify-content: center;
    gap: 20px;
}

.EJ2 {
    align-items: center;
    gap: 20px;
}

.EJ3 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.mini {
    width: 50px;
    height: 50px;
    background-color: rgb(148, 0, 0);
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    display: flex;
    justify-content: center; /*centra horizontalmente*/
    align-items: center; /*centra verticalmente*/
}
.EJ4 {
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.EJ5 {
    justify-content: center;
    align-items: center;
}

.Grande {
    width: 150px;
    height: 150px;
}
