* {
    margin: 0;
    padding: 20;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
}

.centrado {
    text-align: center;
}

.encabezado {
    padding: 50px;
}

.titulo {
    margin-bottom: 20px;
}

.contenedor {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.caja {
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.514);
}

.color {
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.contenido {
    padding: 30px;
    text-align: center;
}

.contenido p {
    margin-bottom: 10px;
    color: #555;
}

.contenido a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: bold;
}

.azul {
    background: #4a90e2;
}

.rojo {
    background: #e74c3c;
}

.verde {
    background: #2ecc71;
}

.amarillo {
    background: #f1c40f;
    color: black;
}

.morado {
    background: #9b59b6;
}

.celeste {
    background: #5dade2;
}

.caja:hover {
    transform: translateY(-5px);
}