* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #ffe4e1;
   text-align: center;
}

#galeria {
   display: flex;
   justify-content: center;
   gap: 50px;
   margin-top: 20px;
}

img {
   width: 200px;
   height: 200px;
   cursor: pointer;
   transition: opacity 0.3s;
}

img:hover {
   opacity: 0.7;
}