* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: solid 1px red;*/
}

.encabezado {
    width: 100%;
    /*Todo el ancho de la pagina*/
    background-color: grey;
}

.titulo_header {
    text-align: center;
    color: white;
    padding: 15px;
}

.container {
    outline: solid 1px grey;
    margin: 0 auto;
    width: 900px;
    padding: 20px;
}

.aceptar {
    width: 100px;
    height: 50px;
}

.caja1 {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    background-color: yellow;
}

.parrafo1 {
    font-size: 30px;
}

.link {
    font-size: 300%;
}

.cursiva {
    color: blue;
    margin-top: 15px;
    font-style: italic;
}

/*
Manejo del contenido con overflow: hidden, scroll, auto
*/

.caja {
    width: 200px;
    height: 100px;
    display: inline-block;
    ;
}

.example1 {
    height: 100px;
    width: 300px;
    background-color: blue;
    overflow: hidden;
}


.example2 {
    height: 100px;
    width: 300px;
    background-color: green;
    overflow: scroll;
}


.example3 {
    height: 100px;
    width: 300px;
    background-color: blueviolet;
    overflow: auto;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}

/*fondos y colores*/
.banner {
    height: 500px;
    width: 100%;
    background: red url("/STACK_CSS/06_tomanos/static/images/willy.jpg") no-repeat fixed center center;
    background-size: 120%;
}